# Global ignore: everything
*

# allow directories so we can whitelist specific content
!*/

# Remove selected directories
.ipynb_checkpoints
**/.ipynb_checkpoints
.backups
__pycache__
**/__pycache__

# include python files anywhere
!*.py
!*.pyt
!**/*.py
!**/*.pyt

# still ignore py backup variants
*.~py
**/*.~py
# ignore Python init files globally
__init__.py
**/__init__.py

# include Scripts folder and its contents
!Scripts/
!Scripts/**

# include README files in root, Scripts, and dismap_tools
!README.md
!Scripts/README.md
!Scripts/dismap_tools/README.md

# Notebook folder and its notebooks
/Notebooks/
# explicitly exclude esri folder under dismap_tools
/Scripts/dismap_tools/esri/

# Ignore zip files
*.zip
**/*.zip

# For Metadta branch
!/August-1-2025/CSV_Data/*.csv
!/August-1-2025/Dataset_Shapefiles/*
/August-1-2025/Dataset_Shapefiles/*.zip
!/August-1-2025/Layers/*
!/Bathymetry/Alaska-Bathymetry/*
/Bathymetry/Alaska-Bathymetry/*.zip
!/Bathymetry/GEBCO-Bathymetry/*
/Bathymetry/GEBCO-Bathymetry/*.zip
!/Bathymetry/Hawaii-Bathymetry/*
/Bathymetry/Hawaii-Bathymetry/*.zip

# End of File (EOF)
