# ignore everything
*

# but don't ignore files ending with slash = directories
!*/

# Except the following:
!.gitignore
!.gitattributes
!README.md
!Metadata.md
!Metadata.doc

# And except the following Python scripts

# Create DisMAP Datasets
!Create DisMAP Biomass Datasets.py
!Create DisMAP Biomass Datasets 20230401.py
